body{
    margin: 0, auto;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgb(189, 189, 189);
    margin: 10px;
    padding: 10px;
    line-height: 2;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.2);
    font-style: italic;
    color: rgb(72, 72, 72);
}